# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# Uploaded user files (do NOT track)
uploads/
pdfs/

# Databases
*.db
*.sqlite
*.sqlite3

# IDE configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
